
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,400;1,700&family=Poppins:wght@700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    font-family:"Poppins";
}

body{
  background: radial-gradient(ellipse 80% 80% at 50% -20%, rgba(70, 67, 255, 0.3), rgba(63, 63, 63, 0));
  background-color: #171717; /* Color neutral-950 */
  min-height: 100vh;
}


.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: absolute;
    height: 90px;
}

.logo{
    font-size:25px;
    color: #fff;   
    text-decoration: none;
    opacity: 0;
    animation: slideRight 0.5s ease forwards;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    transition: 0.5s;
}
.navbar a:hover{
    color: rgb(102, 106, 246);
}
.navbar a.active{
    color: rgb(102, 106, 246);
}
.home{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 10% 0;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    animation: slideBottom 1s ease forwards;
    color:white;
}

.home-content h3 span{
    color: rgb(102, 106, 246);

}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: white;
    animation: slideTop 1s ease forwards;
    color:white;
    animation-delay: 0.7;
}


.home-content p{
    font-size: 16px;
    color: white;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

 /*about me*/
.inner{
    padding-top: 20px;

}


.title-about-me{
  padding-top: 200px;
  font-size: 40px;
  text-align: left;
  max-width: 1400px;
  padding-left: 405px;
  padding-bottom: 30px;
  color: white;
}

.skills{
  text-align: center;
    color: white;
    padding: 1rem;
    position: relative;
    font-size: 32px;
    padding: 45px;
}

.about-me-info h2{
    font-size: 20px;
    text-align: left;
    max-height: 300px;
    max-width: 1100px;
    padding-left: 405px;
    color: white;
}

.skills:after{
    content: "";
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color:white;
}
.header h1{
    color: white;
    position: relative;
    margin: auto;
}

.container1{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    position: relative;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    padding-bottom: 100px;
    background: none;
}

.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.skill-title h3{
    color: white;
    margin: 0.5rem;
}
.p-center{
    position: relative;
    margin: auto;
    text-align: center;

}

.skill-icon{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-personal{
  height: 80px;
  color: blue;
  gap: 1rem;
  position: relative;
  left:388px;
  top: 198px;
}
.span-foto{
  background-color: #ebf8ff; /* bg-blue-100 */
  color: #1e40af; /* text-blue-800 */
  font-size: 0.75rem; /* text-xs */
  font-family: 'serif'; /* font-serif */
  margin-inline-end: 0.625rem; /* me-2 */
  padding: 0.125rem 0.625rem; /* px-2.5 py-0.5 */
  border-radius: 0.25rem; /* rounded */

}

/*projects section*/

.section-projects{
    padding: 100px;
}

.projects-title{
    color: rgb(160, 163, 253);
    text-align: center;
    padding-top: 0px;
    font-size: 56px;
    font-weight: 700;
    margin: 0px 50px;
}

/*Projects*/
.projects{
    display: grid;
    justify-content: space-evenly;
    padding-top: 50px;  
    grid-template-columns: auto auto ;
    margin: 100px;
    position: relative;
    gap: 150px;
    

}
/* Weather app js*/
.weather-app{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.weather-app figure{
    position: relative;
    height: 255px;
    width: 375px;
    overflow: hidden;
    border-radius: 25px;
    cursor: pointer;
}


.weather-app figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.weather-app figure .weather-app-capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgb(70, 0, 169);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.weather-app figure:hover > .weather-app-capa{
    opacity: 1;
    visibility: visible;
}

.weather-app figure:hover > .weather-app-capa h3{
    margin-top: 50px;
    margin-bottom: 15px;
}


.weather-app figure .weather-app-capa h3{
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 120px;
    width: 100%;
    max-width: 220px;
    margin: auto;
    transition: all 500ms ease-out;
    margin-top: 20px;
}


.weather-app figure .weather-app-capa p{
    color: rgb(251, 251, 251);
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.weather-app-sin-subrayado{
    text-decoration: none;
}

/*Projecto login register*/
.login-register{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}

.login-register figure{
    position: relative;
    height: 255px;
    width: 375px;
    overflow: hidden;
    border-radius: 25px;
    cursor: pointer;
}

.login-register figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.login-register figure .login-register-capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgb(70, 0, 169);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.login-register figure:hover > .login-register-capa{
    opacity: 1;
    visibility: visible;
}

.login-register figure:hover > .login-register-capa h3{
    margin-top: 50px;
    margin-bottom: 15px;
}


.login-register figure .login-register-capa h3{
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 120px;
    width: 100%;
    max-width: 220px;
    margin: auto;
    transition: all 500ms ease-out;
    margin-top: 20px;
}


.login-register figure .login-register-capa p{
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.login-register-sin-subrayado{
    text-decoration: none;
}


/*contact me*/

.title-contact-me{
    color: rgb(160, 163, 253);
    text-align: center;
    padding-top: 0px;
    font-size: 40px;
    font-weight: 700;
    margin: 0px 50px;
  }
.contact_us_2{
    font-family: "poppins"
  }
  
  .contact_us_2 .text-blk {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    line-height: 25px;
  }
  
  .contact_us_2 .responsive-cell-block {
    min-height: 75px;
  }
  
  .contact_us_2 input:focus {
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
  }
  
  .contact_us_2 .container-block {
    min-height: 75px;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: block;
  }
  
  .contact_us_2 .submit-btn:hover {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #fe03ed;
  }
  
  .contact_us_2 .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .contact_us_2 .responsive-container-block.big-container {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    position: relative;
    height: auto;
  }
  
  .contact_us_2 .responsive-container-block.container {
    position: static;
    min-height: 75px;
    flex-direction: column;
    z-index: 2;
    max-width: 800px;
    margin-top: 120px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
  }
  
  .contact_us_2 .container-block.form-wrapper {
    background-color: white;
    max-width: 799px;
    text-align: center;
    padding-top: 50px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 40px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .contact_us_2 .text-blk.contactus-head {
    font-size: 36px;
    line-height: 50px;
    font-weight: 900;
  }
  
  .contact_us_2 .text-blk.contactus-subhead {
    color: #9c9c9c;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
  
  .contact_us_2 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 26px;
    margin-left: 0px;
    min-height: 50px;
  }
  
  .contact_us_2 .input {
    width: 96%;
    height: 50px;
    padding-top: 1px;
    padding-right: 15px;
    padding-bottom: 1px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    color: black;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  .contact_us_2 .textinput {
    width: 98%;
    min-height: 150px;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 15px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #eeeeee;
    border-right-color: #eeeeee;
    border-bottom-color: #eeeeee;
    border-left-color: #eeeeee;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    font-size: 16px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: large;
  }
  
  .contact_us_2 .submit-btn {
    width: 98%;
    background-color: #f403b4;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: outset;
    border-right-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-top-color: #767676;
    border-right-color: #767676;
    border-bottom-color: #767676;
    border-left-color: #767676;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
  }
  
  .contact_us_2 .form-box {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .contact_us_2 .social-media-links {
    width: 250px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }
  
  .contact_us_2 .link-img {
    width: 30px;
    height: 30px;
  }
  
  .contact_us_2 .text-blk.input-title {
    text-align: left;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 10px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    color: #9c9c9c;
  }
  
  .contact_us_2 ::placeholder {
    color: #dadada;
  }
  
  @media (max-width: 768px) {
    .contact_us_2 .submit-btn {
      width: 100%;
    }
  
    .contact_us_2 .input {
      width: 100%;
    }
  
    .contact_us_2 .textinput {
      width: 100%;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.input-title {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block.container {
      margin-top: 80px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.contactus-head {
      font-size: 30px;
      line-height: 40px;
    }
  }
  
  @media (max-width: 500px) {
    .contact_us_2 .container-block.form-wrapper {
      padding-top: 50px;
      padding-right: 15px;
      padding-bottom: 50px;
      padding-left: 15px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 60px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 15px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 35px;
      margin-left: 0px;
    }
  
    .contact_us_2 .text-blk.input-title {
      font-size: 12px;
    }
  
    .contact_us_2 .responsive-container-block.container {
      margin-top: 50px;
      margin-right: 0px;
      margin-bottom: 50px;
      margin-left: 0px;
    }
  
    .contact_us_2 .container-block.form-wrapper {
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 0px;
      margin-left: 0px;
    }
  
    .contact_us_2 .responsive-container-block.big-container {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .contact_us_2 .text-blk.contactus-head {
      font-size: 26px;
      line-height: 34px;
    }
  
    .contact_us_2 .input {
      height: 45px;
    }
  }
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');



.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}   

/*keyframes*/

@keyframes slideBottom{
    0% {
        transform: translateY(-100px) ;
        opacity: 0;
    }
    100% {
        transform: translateY(0px) ;
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px) ;
        opacity: 0;
    }
    100% {
        transform: translateX(0px) ;
        opacity: 1;
    }
}
 @keyframes slideTop {
    0% {
        transform: translateX(-100px) ;
        opacity: 0;
    }
    100% {
        transform: translateX(0px) ;
        opacity: 1;
    }
}

@keyframes agrandar {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }     


html{
    scroll-behavior: smooth;
}



@media (max-width:600px){
  .header{
    position: relative;
    width: 400px;
  }
}   