@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,400;1,700&family=Poppins:wght@700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    font-family:"Poppins";
}

body{
    background:linear-gradient( #12151a, rgb(65, 64, 66));
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size:25px;
    color: #fff;   
    text-decoration: none;
    opacity: 0;
    animation: slideRight 0.5s ease forwards;
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    transition: 0.5s;
}
.navbar a:hover{
    color: rgb(102, 106, 246);
}
.navbar a.active{
    color: rgb(102, 106, 246);
}
.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 70px 10% 0;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    color:white;
}

.home-content h3 span{
    color: rgb(102, 106, 246);

}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color: white;
    animation: slideTop 1s ease forwards;
    color:white;
    animation-delay: 0.7;
}


.home-content p{
    font-size: 16px;
    color: white;
    opacity: 0;
    animation: slideTop 1s ease forwards;
}

 /*about me*/

.inner{
    padding-top: 20px;

}

.skills{
    text-align: center;
    color: white;
    padding: 1rem;
    position: relative;
    font-size: 32px;
}

.skills:after{
    content: "";
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    background-color:white;
}
.header h1{
    color: white;
    position: relative;
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
}

.skill-box{
    padding: 1rem;
    color: #ddd;
    cursor: pointer;
}

.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.skill-title h3{
    color: white;
    margin: 0.5rem;
}
.p-center{
    position: relative;
    margin: auto;
    text-align: center;

}

.skill-icon{
    width: 90px;
    height: 90px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*projects section*/

.section-projects{
    padding: 100px;
}

.projects-title{
    color: rgb(160, 163, 253);
    text-align: center;
    padding-top: 0px;
    font-size: 56px;
    font-weight: 700;
    margin: 0px 50px;
}

/*Projects*/
.projects{
    display: grid;
    justify-content: space-evenly;
    padding-top: 50px;  
    grid-template-columns: auto auto ;
    margin: 100px;
    position: relative;
    gap: 150px;
    

}
/* Weather app js*/
.weather-app{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.weather-app figure{
    position: relative;
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 25px;
    cursor: pointer;
}


.weather-app figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.weather-app figure .weather-app-capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(123, 127, 243, 0.9);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.weather-app figure:hover > .weather-app-capa{
    opacity: 1;
    visibility: visible;
}

.weather-app figure:hover > .weather-app-capa h3{
    margin-top: 50px;
    margin-bottom: 15px;
}


.weather-app figure .weather-app-capa h3{
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 120px;
    width: 100%;
    max-width: 220px;
    margin: auto;
    transition: all 500ms ease-out;
    margin-top: 20px;
}


.weather-app figure .weather-app-capa p{
    color: rgb(143, 120, 245);
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.weather-app-sin-subrayado{
    text-decoration: none;
}

/*Projecto login register*/
.login-register{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
}

.login-register figure{
    position: relative;
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 25px;
    cursor: pointer;
}

.login-register figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.login-register figure .login-register-capa{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(123, 127, 243, 0.9);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}

.login-register figure:hover > .login-register-capa{
    opacity: 1;
    visibility: visible;
}

.login-register figure:hover > .login-register-capa h3{
    margin-top: 50px;
    margin-bottom: 15px;
}


.login-register figure .login-register-capa h3{
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 120px;
    width: 100%;
    max-width: 220px;
    margin: auto;
    transition: all 500ms ease-out;
    margin-top: 20px;
}


.login-register figure .login-register-capa p{
    color: rgb(255, 255, 255);
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

.login-register-sin-subrayado{
    text-decoration: none;
}

/*Projecto 3*/
.projecto-3{
    background-color: lightblue;
    padding: 25px;
    margin: 0 10px;
    height: 250px;
    width: 250px;
    border-radius: 25px;
}
/*Projecto 4*/
.projecto-4{
    background-color: black;
    padding: 25px;
    margin: 0 10px;
    height: 250px;
    width: 250px;
    border-radius: 25px;
}
/*Projecto 5*/
.projecto-5{
    background-color: orange;
    padding: 25px;
    margin: 0 10px;
    height: 250px;
    width: 250px;
    border-radius: 25px;
}
/*Projecto 6*/
.projecto-6{
    background-color: blue;
    padding: 25px;
    margin: 0 10px;
    height: 250px;
    width: 250px;
    border-radius: 25px;
}
/*Projecto 7*/
.projecto-7{
    background-color: purple;
    padding: 25px;
    margin: 0 10px;
    height: 250px;
    width: 250px;
    border-radius: 25px;
}
/*Projecto 8*/
.projecto-8{
    background-color: yellow;
    padding: 25px;
    margin: 0 10px;
    height: 250px;
    width: 250px;
    border-radius: 25px;
}


/*contact me*/
.caja-contacto{
    height: 1000px;
}

.contacto-title{
    color: rgb(160, 163, 253);
    text-align: center;
    padding-top: 0px;
    font-size: 56px;
    font-weight: 700;
    margin: 0px 50px;
}




/*keyframes*/

@keyframes slideBottom{
    0% {
        transform: translateY(-100px) ;
        opacity: 0;
    }
    100% {
        transform: translateY(0px) ;
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px) ;
        opacity: 0;
    }
    100% {
        transform: translateX(0px) ;
        opacity: 1;
    }
}
 @keyframes slideTop {
    0% {
        transform: translateX(-100px) ;
        opacity: 0;
    }
    100% {
        transform: translateX(0px) ;
        opacity: 1;
    }
}

@keyframes agrandar {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }     


html{
    scroll-behavior: smooth;
}



@media (max-width:600px){
  .header{
    position: relative;
    width: 400px;
  }
}
